@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MarketingCoordinatorLayout.cshtml";
}

<link href="./css/chart.css" rel="stylesheet">

<body style="padding:20px;">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <h2 style="margin-top:25px;">Statistics</h2>
    <div class="chart-column">
        <div class="barchar">
            <canvas width="100" height="100" id="myChart"></canvas>
        </div>

    </div>
    <div class="chart-column">
        <div class="piechart">
            <canvas height="300" id="myPieChart"></canvas>
        </div>

    </div>

    @* barchar *@
    <script>
        const ctx = document.getElementById('myChart');

        async function updateChartData() {
            const fileCountByUpdateTimeResponse = await fetch('/Contributions/GetFileCountByUpdateTime');
            const fileCountByUpdateTimeData = await fileCountByUpdateTimeResponse.json();

            const labels = fileCountByUpdateTimeData.map(entry => entry.date);
            const data = fileCountByUpdateTimeData.map(entry => entry.count);

            const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Total File upload in day',
                        data: data,
                        borderWidth: 2, // Độ rộng của đường viền cột
                        backgroundColor: 'rgba(54, 162, 235, 0.6)', // Màu nền của các cột
                        borderColor: 'rgba(54, 162, 235, 1)' // Màu của đường viền cột
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Total Upload Files'
                            },
                            ticks: {
                                stepSize: 1, // Bước giữa mỗi giá trị
                                callback: function (value, index, values) {
                                    if (value % 1 === 0) {
                                        return value; // Chỉ hiển thị nếu là số nguyên
                                    }
                                }
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Date'
                            }
                        }
                    }
                }
            });
        }

        updateChartData();



    </script>

</body>