@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
@* 
@{
    string returnUrl = ""; // URL mặc định

    if (User.IsInRole("Admin"))
    {
        returnUrl = "/AdminDashboard"; // Chuyển hướng đến trang Dashboard của Admin nếu là Admin
    }
    else if (User.IsInRole("Marketing Coordinator"))
    {
        returnUrl = "/MarketingCoordinatorDashboard"; // Chuyển hướng đến trang Dashboard của Coordinator nếu là Coordinator
    }
    else
    {
        returnUrl = "/DefaultDashboard"; // Chuyển hướng đến trang Dashboard mặc định cho các vai trò khác
    }
} *@

<span>
    <p>
        Your Email has been confirmed. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</span>
