@using Microsoft.AspNetCore.Identity
@model IdentityRole


<body style="background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); max-width: 700px;padding: 20px; margin: auto;margin-top:200px;">
<div style="display: flex; justify-content: center; margin-top: 50px;">
    <div class="col-md-6">
        <form asp-action="Create" method="post" >
            <h3 style=" text-align: center;">Create New Role</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Name" class="form-control" aria-required="true" />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="margin-top: 10px; justify-content: center; display: flex;">
                <span>
                        <a class="btn btn-primary" style="margin-right: 140px;" href="/AdminDashboard">
                        Back to List
                    </a>
                </span>
                <button id="registerSubmit" type="submit" class="btn btn-primary">
                    Create
                </button>
            </div>

        </form>
    </div>
</div>
</body>
