@model _1640WebDevUMC.Models.Faculty

@{
    ViewData["Title"] = "Edit";
}

<body style="max-width: 400px; padding: 20px; margin: auto; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top:200px;">
    <form asp-action="Edit" method="post">
        <h3 style="text-align: center;">Edit Faculty</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Hidden input field for Faculty ID -->
        <input type="hidden" asp-for="FacultyID" />

        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="FacultyName" class="control-label" style="font-weight: bold;">Faculty Name</label>
            <input asp-for="FacultyName" class="form-control" />
            <span asp-validation-for="FacultyName" class="text-danger"></span>
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="CodeSubject" class="control-label" style="font-weight: bold;">Code Subject</label>
            <input asp-for="CodeSubject" class="form-control" />
            <span asp-validation-for="CodeSubject" class="text-danger"></span>
        </div>

        <div style="justify-content: space-between; display: flex; ">
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
            <input type="submit" value="Save" class="btn btn-danger" style="background-color: #0d6efd; border-color: #0d6efd;" />
        </div>
    </form>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
