@model _1640WebDevUMC.Models.AcademicYear

@{
    ViewData["Title"] = "Create";
}



<body style=" max-width: 400px; border-radius: 10px; padding: 20px; background-color: #f9f9f9; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin: auto; margin-top: 100px;">
<form asp-action="Create">
    <h3 style="text-align: center;">Create Academic</h3>
    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger" style=" margin-bottom: 15px;font-weight: bold;"></div>
    <div class="form-group">
        <label asp-for="AcademicYearID" class="control-label" style="margin-bottom: 5px;font-weight: bold;">Years</label>
        <input asp-for="AcademicYearID" class="form-control" />
        <span asp-validation-for="AcademicYearID" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="UploadDate" class="control-label" style="margin-bottom: 5px;font-weight: bold;">Upload Date</label>
        <input asp-for="UploadDate" class="form-control" />
        <span asp-validation-for="UploadDate" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="ClosureDate" class="control-label" style="margin-bottom: 5px;font-weight: bold;">Closure Date</label>
        <input asp-for="ClosureDate" class="form-control" />
        <span asp-validation-for="ClosureDate" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="FinalClosureDate" class="control-label" style="margin-bottom: 5px;font-weight: bold;">Final Closure Date</label>
        <input asp-for="FinalClosureDate" class="form-control" />
        <span asp-validation-for="FinalClosureDate" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label asp-for="FacultyID" class="control-label" style="margin-bottom: 5px;font-weight: bold;">Course</label>
        <select asp-for="FacultyID" class="form-control" asp-items="ViewBag.FacultyID"></select>
    </div>
    <div class="button-flex">
            <a class="btn btn-primary" asp-action="Index" style="margin-right: 154px;margin-top: 20px;">Back to List</a>

            <input type="submit" value="Create" style="margin-top: 20px; background-color: #0b5ed7;border-color: #0a58ca;" class="btn btn-danger" />
    </div>
</form>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
