@model _1640WebDevUMC.Models.AcademicYear

@{
    ViewData["Title"] = "Delete";
}


<body style="max-width: 400px; padding: 20px; margin: auto; background-color: #f9f9f9; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-top:200px;">
    <div style="text-align: center;">
        <h3 >Delete</h3>
    <hr />

    <div>
        <h4>Upload Date:</h4>
        <p>@Html.DisplayFor(model => model.UploadDate)</p>
    </div>

    <div>
        <h4>Closure Date:</h4>
        <p>@Html.DisplayFor(model => model.ClosureDate)</p>
    </div>

    <div>
        <h4>Final Closure Date:</h4>
        <p>@Html.DisplayFor(model => model.FinalClosureDate)</p>
    </div>

    <div>
        <h4>Course:</h4>
        <p>@Html.DisplayFor(model => model.Faculty.FacultyID)</p>
    </div>

    <div>
        <form asp-action="Delete">
                <a class="btn btn-primary" asp-action="Index" style="margin-right: 150px; margin-top:20px;">Back to List</a>
            <input type="hidden" asp-for="AcademicYearID" />
                <input type="submit" value="Delete" class="btn btn-primary" style="margin-top:20px;" />
            </form>
    </div>
</div>
</body>

    
     
