@model _1640WebDevUMC.Models.AcademicYear

@{
    ViewData["Title"] = "Edit";
}

<body style="  max-width: 400px;border-radius: 10px; padding: 20px;background-color: #f9f9f9;border-radius: 5px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin: auto;margin-top: 100px;">
        <form asp-action="Edit">
        <h2 style="text-align: center;">Edit</h2>
    <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AcademicYearID" style="width: 100%;padding: 10px;border: 1px solid #ccc;" />
        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="UploadDate" class="control-label" style="margin-bottom: 5px; font-weight: bold;">Upload Date</label>
            <input asp-for="UploadDate" class="form-control" style="width: 100%;padding: 10px;border: 1px solid #ccc;" />
                <span asp-validation-for="UploadDate" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="ClosureDate" class="control-label" style="margin-bottom: 5px; font-weight: bold;">Closure Date</label>
            <input asp-for="ClosureDate" class="form-control" style="width: 100%;padding: 10px;border: 1px solid #ccc;" />
                <span asp-validation-for="ClosureDate" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="FinalClosureDate" class="control-label" style="margin-bottom: 5px; font-weight: bold;">Final Closure Date</label>
            <input asp-for="FinalClosureDate" class="form-control" style="width: 100%;padding: 10px;border: 1px solid #ccc;" />
                <span asp-validation-for="FinalClosureDate" class="text-danger"></span>
            </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label asp-for="FacultyID" class="control-label" style="margin-bottom: 5px; font-weight: bold;">Course</label>
                <select asp-for="FacultyID" class="form-control" asp-items="ViewBag.FacultyID"></select>
                <span asp-validation-for="FacultyID" class="text-danger"></span>
            </div>
        <div class="button-flex" style="margin-bottom: 15px;">
        <a class="btn btn-primary" asp-action="Index" style="margin-right:167px;">Back to List</a>
            <input type="submit" value="Save" class="btn btn-primary" />

            </div>
        </form>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
