h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
    text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.rows {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    width: 20%; /* Mỗi card chiếm 20% tổng chiều rộng của hàng */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng chiều rộng của thẻ */
    padding: 0 10px; /* Khoảng cách giữa các card */
}

@media screen and (max-width: 1200px) {
    .card-wrapper {
        width: 25%; /* Trên màn hình có độ phân giải nhỏ hơn, mỗi card chiếm 25% */
    }
}

@media screen and (max-width: 992px) {
    .card-wrapper {
        width: 33.33%; /* Trên màn hình có độ phân giải nhỏ hơn, mỗi card chiếm 33.33% */
    }
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        width: 50%; /* Trên màn hình có độ phân giải nhỏ hơn, mỗi card chiếm 50% */
    }
}

@media screen and (max-width: 576px) {
    .card-wrapper {
        width: 100%; /* Trên màn hình có độ phân giải nhỏ hơn, mỗi card chiếm 100% */
    }
}


.card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, .25), 1px 1px 3px rgba(0, 0, 0, .1);
    margin-bottom: 20px; /* Khoảng cách giữa các thẻ card */
}


.card-media {
    width: 100%;
}

.card-details {
    padding: 5px 15px;
}

.card-head {
    font-weight: 400;
}

.card-head {
    font-size: 26px;
    margin-bottom: 15px;
}

.card-action-button {
    border-radius: 2px;
    color: #FFAB40;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

    .card-action-button:hover {
        background-color: rgba(255,168,58, .2);
    }

.comments-section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
}

.comment-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.add-comment-button,
.delete-comment-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}

    .add-comment-button:hover,
    .delete-comment-button:hover {
        background-color: #0056b3;
    }

.form-card {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.fileItem:nth-child(n+3) {
    display: none;
}
